/* General Style */
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #28a745;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #747f88;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #28a745;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #e6e9ec;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: rgba(255, 255, 255, 1);
  --bs-dark-rgb: rgba(0, 0, 0, 0.54);
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-default-font-family: 'Inter', Helvetica, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-bg: #f6f8fa;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0096FF;
  --bs-link-hover-color: #0a58ca;
  --bs-highlight-bg: #fff3cd;
}

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bs-body-bg);
  color: var(--bs-gray-800);
  font-family: var(--bs-default-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
}

/* Header */
header {
  height: 60px;
  padding: 0;
  position: fixed;
  right: 0;
  display: flex;
  align-items: center;
  background-color: var(--bs-white);
  border-bottom: 1px solid #e6e9ec;
  box-shadow: 6px 0px 8px 0 rgba(155, 162, 173, 0.2);
}

header .nav-content {
  padding: 0 24px;
  display: flex;
  width: 100%;
  height: 100%;
}

header .nav-content .nav-brand {
  height: 54px;
}

header .nav-content .nav-brand img {
  height: 100%;
}

header .nav-content .navbar-menu {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

header .nav-content .navbar-menu .nav-item {
  position: relative;
  margin: 0 12px;
  display: flex;
  align-items: center;
}

header .nav-content .navbar-menu .nav-item:first-child {
  margin-left: 0;
}

header .nav-content .navbar-menu .nav-item:last-child {
  margin-right: 0;
}

header .nav-content .navbar-menu .nav-item .nav-link {
  display: flex;
  align-items: center;
  color: var(--bs-dark-rgb);
  font-size: 14px;
  font-weight: 500;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  cursor: pointer;
}